@inject IStringLocalizer<CommonResources> Localizer
@using Models.Context.Consultations;
@{
  var program = (MSProgram)(ViewBag.program);
  string programTypeName = null;
  string urlProgram = null;
  switch (program.ProgramTypeId)
  {
      case GlobalConstants.MSProgramTypes.Zakonodatelna:
          programTypeName = Localizer["MS_PROGRAM_LAW"];
          urlProgram = Url.Action("LawPrograms");
          break;
      case GlobalConstants.MSProgramTypes.Operativna:
          programTypeName = Localizer["MS_PROGRAM_OP"];
          urlProgram = Url.Action("OpPrograms");
          break;
  }
  ViewData["Title"] = "Оценка на въздействието";
  ViewData["SectionTitle"] = ViewData["Title"];
}
@section breadcrumbs{
<div class="breadcrumbs">
    / <a href="@Url.Action("Index","Home")">@Localizer["HOME_LINK"]</a>
    / <a href="@Url.Action("LawPrograms","MSProgram")">@ViewData["Title"]</a>
    / <a href="@Html.Raw(urlProgram)">@programTypeName</a>
    @*/ <a href="#">@program.Title</a>*@
</div>
}
<div class="container-fluid information">
    <div class="row">
        <div class="col-lg-3">
            @await Component.InvokeAsync("MasterPage", new { pageTypeId = GlobalConstants.PageTypes.OV, display = "menu", title = "Оценка на въздействието" })
        </div>
        <div class="col-lg-9">

            <h3>@program.Title</h3>
            <p>
                @Html.Raw(program.Description)
            </p>
            @await Component.InvokeAsync("FileList", new { sourceType = GlobalConstants.SourceTypes.MSPRogram, sourceId = program.Id })
            <h4>@Localizer["MS_PROGRAM_PROJECTS_TO"]&nbsp;@ViewData["Title"]</h4>
            <div class="row">
                <div class="col-md-12 body cat-combos search-form-container">
                    <div class="form-group col-lg-3 col-md-4 col-sm-6">
                        <label>@Localizer["FILTER_BY_NAME"]</label>
                        @Html.TextBox("searchTerm", "", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <table id="mainTable" class="table" cellspacing="0"></table>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(function () {


         $('.cat-combos #searchTerm').keyup(function () {
                if ($(this).val().length >= 3 || $(this).val() === '')
                    setTimeout(function () {
                    dt.ajax.reload();
                }, 100);

            });

            var dt;
            setTimeout(function () {
                //setBreadcrumb();
                dt  = $('#mainTable').DataTable({
                    "ajax": {
                        "url": '@Url.Action("LoadData_Projects")',
                 data: function (d) {
                            d.programId = @(program.Id);
                            d.searchTerm = $('#searchTerm').val();
                        },
                 "type": "POST"
                       },

             fnDrawCallback: function (settings) {
                 $('.dataTables_paginate').toggle(settings.fnRecordsDisplay() > 0);
                    },
                    filter: false,
                    //"order": [[3, "desc"]],
                    //responsive: true,
             "columns": [
                 {
                     data: "title",
                     name: 'Title',
                     title: 'Наименование',
                     "width":"50%",
                     render: function (data, type, item, meta) {
                         var url = '@Url.Action("Project",new { id = "666"})'.replace('666', item.id);
                         var content = '<a href="' + url + '">' + item.title + '</a>';
                         return content;
                     },
                     sortable: true
                 },
                 {
                     data: "institutionType.institutionTypeName",
                     title: 'Вносител'
                 },
                 {
                     data: "dateCoordinated",
                     title: 'Месец на изпращане за предварително съгласуване',
                     render: function (item) {
                         return JsonBGmonth(item,'@(ViewBag.lang)');
                     }
                 },
                 {
                     data: "dateMS",
                     title: 'Месец на внасяне в МС',
                     render: function (item) {
                         return JsonBGmonth(item,'@(ViewBag.lang)');
                     }
                 }
             ]
            }, 200);
    });
        });
    </script>

}
