@{
    ViewData["Title"] = "Списък на физическите и юридическите лица съгласно ЗНА";
}
@section breadcrumbs{
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")">Начало</a></li>
        <li><a href="@Url.Action("ListPCSubjects", "PCSubjects")">Списък на ФЛ/ЮЛ</a></li>
    </ul>
}

    <section class="content">
        <div class="pull-left">
            <a asp-action="AddPCSubject" class="btn btn-success btn-flat">Добави лице</a>
        </div>

        <div class="search-form">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <span>Вид лице</span>
                        @Html.DropDownList("PCSubjectsTypeID", (IEnumerable<SelectListItem>)ViewBag.PCSubjectsTypeID_ddl, new { @class = "form-control" })
                    </div>
                    <div>
                        <span>Име</span>
                        @Html.TextBox("name", null, new { @class = "form-control" })
                    </div>
                    <div id="eik_div">
                        <div>
                            <span>ЕИК</span>
                            @Html.TextBox("eik", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div>
                        <span>&nbsp;</span>
                        <button type="button" class="btn btn-primary dt-reload"><i class="fa fa-search"></i> Търсене</button>
                    </div>

                </div>
            </div>
        </div>

        <table id="mainTable" class="table" cellspacing="0"></table>
    </section>
@section scripts{
    <script>
    $(function () {
         var dt  = $('#mainTable').DataTable({
             searching: false,
             "ajax": {
                 "url": '@Url.Action("LoadDataPCSubjects")',
                 data: function (d) {
                     d.name = $("#name").val();
                     d.eik = $("#eik").val();
                     d.pcSubjectsTypeID = $("#PCSubjectsTypeID").val();
                 },
                 "type": "POST"
             },
             fnDrawCallback: function (settings) {
                 $(this).parent().toggle(settings.fnRecordsDisplay() > 0);
             },
             "columns": [
                 {
                     data: "name",
                     title: 'Име',
                     sortable: true,
                     searchable: true
                 },
                 {
                     data: "isUL",
                     title: 'Вид лице',
                     sortable: false,
                     searchable: false,
                     className: "text-center",
                     "render": function (value) {
                         return value == "1" ? 'ЮЛ' : 'ФЛ';
                     }
                 },
                 {
                     data: "eik",
                     title: 'ЕИК',
                     sortable: false,
                     searchable: false
                 },
                 {
                     data: "datePayment",
                     title: 'Дата на договор',
                     sortable: true,
                     searchable: false,
                     "render": function (value) {
                         return JsonBGdate(value);
                     }
                 },
                 {
                     data: "contractingAuthority",
                     title: 'Възложител',
                     sortable: true,
                     searchable: false
                 },
                 {
                     data: "paymentValue",
                     title: 'Възнаграждение за извършените услуги в лева',
                     sortable: true,
                     searchable: false
                 },
                 {
                     data: "paymentValue",
                     title: 'с ДДС',
                     sortable: true,
                     searchable: false,
                     className: "text-center",
                     "render": function (value) {
                         return value == "1" ? 'ДА' : 'НЕ';
                     }
                 },
                 {
                     data: "activityDescription",
                     title: 'Описание на извършените услуги',
                     sortable: false,
                     searchable: false
                 },
                 {
                     data: "filesForDownload",
                     title: 'Прикачени файлове',
                     "render": function (value) {
                         return value;
                     },
                     sortable: false,
                     searchable: false
                 }, 
                 {
                     data: "id",
                     "render": function (value) {
                         var updateUrl = '@Url.Action("EditPCSubjects",new { id = "666"})'.replace('666', value);
                         var updButton = '<a href="' + updateUrl + '" class="btn btn-warning">Редакция</a>';
                         return updButton;
                     },
                     sortable: false,
                     searchable: false
                 }
             ],
        });

        $('button.dt-reload').click(function () {
            dt.ajax.reload();
        }).trigger('click');

        $('#PCSubjectsTypeID').change(function () {
            if ($('#PCSubjectsTypeID').val() == "-1" || $('#PCSubjectsTypeID').val() == "1") {
                $('#eik_div').show();
            }
            else {
                $('#eik_div').hide();
                $('#eik').val("");
            }

            dt.ajax.reload();
        });

        });
    </script>

}

