@{
    ViewData["Title"] = "Новини";
    int lang = ViewBag.lang;
}
<section class="content">
    @*смяна на езика на съдържанието*@
    <partial name="LangSelect" model="@lang" />
    @*смяна на езика на съдържанието*@

    <a asp-action="Add" asp-route-lang="@lang" class="btn btn-success btn-flat"><i class="fa fa-plus"></i> Добави новина</a>

    <div class="search-form">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <span>Дата от</span>
                    @Html.TextBox("dateFrom", null, new { @class = "form-control date-picker" })
                </div>
                <div>
                    <span>Дата до</span>
                    @Html.TextBox("dateTo", null, new { @class = "form-control date-picker" })
                </div>
                <div>
                    <span>Заглавие</span>
                    @Html.TextBox("term", null, new { @class = "form-control" })
                </div>
                <div>
                    <span>Покажи</span>
                    <label>@Html.CheckBox("activeOnly", true)&nbsp;Само активни</label>
                </div>

                <div>
                    <span>&nbsp;</span>
                    <button type="button" class="btn btn-primary dt-reload"><i class="fa fa-search"></i> Търсене</button>
                </div>
            </div>
        </div>
    </div>

    <table id="mainTable" class="table" cellspacing="0"></table>
</section>
@section scripts{
    <script>
        $(function () {
             var dt = $('#mainTable').DataTable({
            "ajax": {
                "url": '@Url.Action("LoadData")',
                data: function (d) {
                    d.dateFrom = $('#dateFrom').val();
                    d.dateTo = $('#dateTo').val();
                    d.term = $('#term').val();
                    d.activeOnly = $('#activeOnly').is(':checked');
                    d.lang=@((int)ViewBag.lang);
                },
                "type": "POST"
                 },
                 filter: false,
                 fnDrawCallback: function (settings) {
                     $(this).parent().toggle(settings.fnRecordsDisplay() > 0);
                 },
                 "columns": [
                     {
                         data: "lang",
                         title: 'Език'
                     },
                {
                    data: "title",
                    title: 'Наименование'
                },
                {
                    data: "categoryName",
                    title: 'Категория'
                },
                {
                    data: "eventDateTXT",
                    title: 'Дата'
                },
                {
                    data: null,
                    "render": function (item) {
                        var updateUrl = '@Url.Action("Edit", new { id = "666"})'.replace('666', item.id);
                        var updButton = '&nbsp;&nbsp;<a href="' + updateUrl + '" class="btn btn-warning">Редакция</a>';
                        return updButton;
                    },
                    sortable: false
                }
                 ], rowCallback: function (row, data) {
                     if (data["isActive"] == false || data["isDeleted"] == true) {
                         $(row).addClass("disabled");
                     }
                 }
        });


            $('button.dt-reload').click(function () {
                dt.ajax.reload();
            });
        });
    </script>

}
