@model FileCDN.Models.FileSelect
@{
    var addControls = new[] { GlobalConstants.SourceTypes.StrategicDocuments }.Contains(Model.SourceType.Value);
}
<fieldset>
    <div id="fileList-container">

    </div>
</fieldset>
<div id="renameDialog" style="display:none;">
    <label>Наименование на файла</label>
    <br />
    <input type="text" id="fileNameEdit" class="form-control" />
    @if (addControls)
    {
    }
    <input type="hidden" id="fileIdHidden" />
</div>
<script>
    var renameFileDialog = null;
    $(function () {
        LoadAttachedFiles();


        renameFileDialog = $("#renameDialog").dialog({
            autoOpen: false,
            height: 200,
            width: 750,
            modal: true,
            buttons: {
                "Преименувай": renameFileSubmit,
                "Отказ": function () {
                    renameFileDialog.dialog("close");
                }
            }
        });
    });
    function LoadAttachedFiles() {
        $.post('@Url.Action("GetFileList", "Ajax")',
            { sourceType:@(Model.SourceType), sourceId:@(Model.SourceID)},
            function (data) {
                var canAdd = true;
                if (@(Model.SingleFile ? "true" : "false") && data.length > 0) {
                    canAdd = false;
                }
                var model = {
                    items : data,
                    canAdd: canAdd
                };
                $('#fileList-container').html(TemplateToHtml("#fileListTemplate", model));
            });
    }

    function chooseFile() {
        var uploadUrl = "@Html.Raw(Url.Action("UploadFile","FileCdn",new { area = "",sourceType = GlobalConstants.SourceTypes.Library_Documents, sourceId = 0, directUploadMethod = "libSelectDocument", stUsed=Model.SourceType }))";
        ShowDialogFromAction('Добави', uploadUrl);
    }
    function libSelectDocument(fileId, fileTitle) {
        $.post('@Url.Action("AppendUsedFile", "Ajax")',
            { sourceType:@(Model.SourceType), sourceId:@(Model.SourceID),fileId:fileId},
            function (data) {
                LoadAttachedFiles();
            });
        HideModalDialog();
        HideDialog();
    }
    function removeFile(fileId, fileTitle) {
        if (!confirm('Потвърди премахването на файла: ' + fileTitle)) {
            return false;
        }
        $.post('@Url.Action("RemoveUsedFile", "Ajax")',
            { sourceType:@(Model.SourceType), sourceId:@(Model.SourceID),fileId:fileId},
            function (data) {
                LoadAttachedFiles();

            });
    }
    function moveFile(docId, moveUp) {
        $.post('@Url.Action("MoveUsedFile", "Ajax")',
            { sourceType:@(Model.SourceType), sourceId:@(Model.SourceID), usedFileId: docId, moveUp: moveUp},
            function (data) {
                if (data == 'ok') {
                    LoadAttachedFiles();
                }
            });
    }
    function renameFile(fileId, fileTitle) {
        $('#fileNameEdit').val(fileTitle);
        $('#fileIdHidden').val(fileId);
        renameFileDialog.dialog("open");
    }
    function renameFileSubmit() {

        $.post('@Url.Action("RenameUsedFile", "Ajax")',
            { fileId: $('#fileIdHidden').val(), fileTitle: $('#fileNameEdit').val()},
            function (data) {
                LoadAttachedFiles();
            });
    }
</script>
<script type="text/x-handlebars-template" id="fileListTemplate">
    <div class="row">
        {{#each items}}
        <div class="col-lg-12 col-md-12 used-file-block">
            <div class="row">
                <div class="col-lg-10">
                    <a href="@Html.Raw(Url.Action("DownloadFile", "FileCdn", new { area = ""}))?id={{fileId}}">
                        <b>{{fileTitle}}</b>
                        <br />
                        {{fileName}}
                        @if (addControls)
                        {
                            <br />
                            <span class="add-info">{{addInfo}}</span>
                        }
                    </a>
                </div>
                <div class="col-lg-2 used-file-remove-button">
                    <a href="#" onclick="renameFile('{{fileId}}','{{fileTitle}}');return false;" class="btn btn-xs btn-warning " title="Преименувай"><i class="fa fa-edit"></i></a>
                    <a href="#" onclick="moveFile('{{documentId}}',true,'{{fileTitle}}');return false;" class="btn btn-xs btn-primary " title="Премести нагоре"><i class="fa fa-arrow-up"></i></a>
                    <a href="#" onclick="moveFile('{{documentId}}',false,'{{fileTitle}}');return false;" class="btn btn-xs btn-primary " title="Премести надолу"><i class="fa fa-arrow-down"></i></a>
                    <a href="#" onclick="removeFile('{{fileId}}','{{fileTitle}}');return false;" class="btn btn-xs btn-danger " title="Премахни"><i class="fa fa-remove"></i></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{#if canAdd}}
    <div class="used-file-add-button">
        <a href="#" onclick="chooseFile();" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Добави</a>
    </div>
    {{/if}}
</script>