@model FileCDN.Models.FileSelect
<fieldset>
    <div id="fileList-container">

    </div>
</fieldset>
<script>
    $(function () {
        LoadAttachedFiles();
    });
    function LoadAttachedFiles() {
        $.post('@Url.Action("GetFileList", "Ajax")',
            { sourceType:@(Model.SourceType), sourceId:@(Model.SourceID)},
            function (data) {
                var canAdd = true;
                if (@(Model.SingleFile ? "true" : "false") && data.length > 0) {
                    canAdd = false;
                }
                var model = {
                    items : data,
                    canAdd: canAdd
                };
                $('#fileList-container').html(TemplateToHtml("#fileListTemplate", model));
            });
    }

    function chooseFile() {
        var url = '@Html.Raw(Url.Action("Select","Library",new { source_type = GlobalConstants.SourceTypes.Library_Documents}))';
        ShowPlainDialogFromAction('Избери документ', url);
    }
    function libSelectDocument(fileId, fileTitle) {
        $.post('@Url.Action("AppendUsedFile", "Ajax")',
            { sourceType:@(Model.SourceType), sourceId:@(Model.SourceID),fileId:fileId},
            function (data) {
                LoadAttachedFiles();
            });

        $('.plainModal').hide();
    }
    function removeFile(fileId, fileTitle) {
        if (!confirm('Потвърди премахването на файла: ' + fileTitle)) {
            return false;
        }
        $.post('@Url.Action("RemoveUsedFile", "Ajax")',
            { sourceType:@(Model.SourceType), sourceId:@(Model.SourceID),fileId:fileId},
            function (data) {
                LoadAttachedFiles();
                
            });
    }
</script>
<script type="text/x-handlebars-template" id="fileListTemplate">
    <div class="row">
        {{#each items}}
        <div class="col-lg-6 col-md-12 used-file-block">
            <div class="row">
                <div class="col-lg-10">
                    <a href="@Html.Raw(Url.Action("DownloadFile", "FileCdn", new { area = ""}))?id={{fileId}}">
                        <b>{{fileTitle}}</b>
                        <br />
                        {{fileName}}
                    </a>
                </div>
                <div class="col-lg-2 used-file-remove-button">
                    <a href="#" onclick="removeFile('{{fileId}}','{{fileTitle}}');return false;" class="btn btn-xs btn-danger" title="Премахни"><i class="fa fa-remove"></i></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{#if canAdd}}
    <div class="used-file-add-button">
        <a href="#" onclick="chooseFile();" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Добави</a>
    </div>
    {{/if}}
</script>