@model Models.ViewModels.Consultations.ConsultationViewModel
@using Domain.Extensions
@using Models

@{
    ViewData["SectionTitle"] = "Обществени консултации";
    var documents = (IEnumerable<TimelineDocumentViewModel>)ViewBag.documents;
    var mainDocuments = (IEnumerable<IGrouping<string, TimelineDocumentViewModel>>)ViewBag.mainDocuments;
    List<SelectListItem> tagDdl = ViewBag.SectionList != null ? (List<SelectListItem>)ViewBag.SectionList : new List<SelectListItem>();
    List<SelectListItem> userIdentityDdl = ViewBag.UserIdentityList != null ? (List<SelectListItem>)ViewBag.UserIdentityList : new List<SelectListItem>();

    string GetDocumentTypeIcon(int typeId)
    {
        string icon = String.Empty;

        switch (typeId)
        {
            case GlobalConstants.DocumentTypes.Consultation:
                icon = "fa-bullhorn";
                break;
            case GlobalConstants.DocumentTypes.Evaluation:
                icon = "fa-star-half-o";
                break;
            case GlobalConstants.DocumentTypes.Etalon:
                icon = "fa-star-o";
                break;
            default:
                icon = "fa-code-fork";
                break;
        }

        return icon;
    };

    List<BreadcrumbVM> breadcrumb = ViewBag.Breadcrumb != null ? (List<BreadcrumbVM>)ViewBag.Breadcrumb : new List<BreadcrumbVM>();
}
@section breadcrumbs{
    <div class="breadcrumbs">
        @foreach (var item in breadcrumb)
        {
            <a href="@item.Url">/ @item.Title </a>
        }
    </div>
}


<div class="container-fluid information">
    <div class="row">
        <div class="col-md-3">
            @if ((bool)ViewBag.hasQuestionary)
            {
                <div class="aside row">
                    <div class="title">
                        <a asp-action="FillQuestionaryBySourceType" asp-controller="Questionary" asp-area="" asp-route-sourceTypeID="@GlobalConstants.SourceTypes.PublicConsultation" asp-route-sourceId="@Model.Id">Анкета</a>
                    </div>
                </div>
            }
            @(await Html.PartialAsync("_consultationLeftMenu", Model.MenuLinks))
        </div>
        <div class="col-md-5 col-lg-6 body">
            <h3>
                @Html.Raw(Model.Title)
            </h3>
            <p class="title">
                @Html.Raw(Model.Summary)
            </p>
            <!-- TABLE DATES -->
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table--dates table--stripped">
                        <tbody>
                            <!-- LOOP -->
                            <tr>
                                <td>Дата на откриване:</td>
                                <td>@Model.OpenningDate.ToString(GlobalConstants.DateFormat)</td>
                            </tr>
                            <!-- END LOOP -->
                            <tr>
                                <td>Дата на приключване:</td>
                                <td>
                                    @Model.ClosingDate.ToString(GlobalConstants.DateFormat)

                                    @if (Model.ActiveDays > 0)
                                    {
                                        <span> (Активна - остават @Model.ActiveDays @(Model.ActiveDays == 1 ? "ден" : "дни"))</span>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @if (Model.ParentCategoryId == GlobalConstants.Categories.Type_District)
                                    {
                                        <span>Област: </span>
                                    }
                                    else if (Model.ParentCategoryId == GlobalConstants.Categories.Type_Municipal)
                                    {
                                        <span>Община: </span>
                                    }
                                    else
                                    {
                                        <span>Сфера на действие: </span>
                                    }
                                </td>
                                <td>
                                    @Html.Raw(Model.CategoryName)
                                </td>
                            </tr>
                            <tr>
                                <td>Oтговорно звено:</td>
                                <td>@(Model.InstitutionType ?? Model.InstitutionName)</td>
                            </tr>
                            <tr>
                                <td>Отговорно лице:</td>
                                <td>@Model.ResponsiblePerson</td>
                            </tr>
                            @if (Model.InstututionTypeId > 0)
	                        {
                                <tr>
                                    <td>Отговорна институция:</td>
                                    <td>@Model.InstitutionName</td>
                                </tr>
	                        }
                            
                            <tr>
                                <td>Адрес:</td>
                                <td>@Model.Address</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>@Model.Email</td>
                            </tr>
                            <tr>
                                <td>Телефон:</td>
                                <td>@Model.Telephone</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END TABLE DATES -->
            @if (!String.IsNullOrEmpty(Model.ShortTermReason))
            {
            <p class="text-muted">
                Мотиви за по кратък срок: @Model.ShortTermReason
            </p>
            }
            <!-- TABLE DOCUMENTS -->
            @if (documents.Any())
            {
                @foreach (var item in mainDocuments)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="strat-container">
                                <div class="strat--title">@item.Key</div>
                                <div class="strat--body">
                                    @foreach (var doc in item)
                                    {
                                        <table class="table table-bordered table--documents table--stripped">
                                            <tbody>
                                                <tr>
                                                    @*<td style="width:100px">Версия @item.RevisionNumber</td>*@
                                                    <td colspan="3">
                                                        <a href="@Url.Action("ViewDocument", new { id = doc.DocumentId })">@doc.DocumentTitle</a>
                                                    </td>
                                                    @*<td style="width:200px;" class="text--center align-middle"><a href="@Url.Action("ViewDocument", new { id = doc.DocumentId })"><i class="fa fa-file-o"></i> преглед</a></td>*@
                                                </tr>

                                                @foreach (var file in doc.AttachedFiles)
                                                {
                                                    <tr>
                                                        <td style="width:80px;">
                                                            <div class="icon">
                                                                <img src="@file.FileName.GetFileExtensionImage()" alt="">
                                                            </div>
                                                        </td>
                                                        <td colspan="2">
                                                            <a href="@Url.Action("DownloadFile", "FileCDN", new { id = file.FileId })">@Html.Raw(file.FileTitle)</a>
                                                        </td>
                                                        @*<td style="width:200px;" class="text--center align-middle"><a href="@Url.Action("DownloadFile", "FileCDN", new { id = file.FileId })"><i class="fa fa-save"></i> изтегляне</a></td>*@
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

            @{await Html.RenderPartialAsync("_Comments",
                          new CommentsRequestModel
                          {
                              SourceTypeId = GlobalConstants.SourceTypes.PublicConsultation,
                              SourceId = Model.Id,
                              SectionList = tagDdl,
                              CanComment = Model.CanComment,
                              UpdateCommentsCallback = "updateCommentsCount",
                              UserIdentityList = userIdentityDdl
                          });
            }
        </div>
        <div class="col-md-4 col-lg-3">
            <ul class="timeline">
                @if (!string.IsNullOrEmpty(Model.MSProgramProjectName))
                {
                    <li class="time-label">
                        <span class="bg-info">
                            По проект: <a asp-action="Project" asp-controller="MSprogram" asp-route-id="@Model.MSProgramProjectId">@Model.MSProgramProjectName</a>
                        </span>
                    </li>
                }
                <li class="time-label">
                    <span class="bg-danger">
                        Приключване @Model.ClosingDate.ToLongDateString()
                    </span>
                </li>
                @foreach (var item in documents)
                {
                    <li>
                        <i class="fa  @GetDocumentTypeIcon(item.DocumentTypeId)"></i>
                        <div class="timeline-item">
                            <div class="timeline-body">
                                <ul class="list-unstyled list-links">
                                    <li>
                                        <a href="@Url.Action("ViewDocument", new { id = item.DocumentId })"><div>@item.DocumentTitle</div></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix">
                                <span class="time-line-time"><i class="fa fa-calendar"></i> @item.DateCreated.ToString(GlobalConstants.DateFormat)</span>
                                <span class="time-line-info"><i class="fa fa-comments-o"></i> @item.CommentsCount</span>
                                @*<span class="time-line-info">Версия @item.RevisionNumber </span>*@
                            </div>
                        </div>
                    </li>
                }

                <li class="time-label">
                    <span class="bg-success">
                        Откриване @Model.OpenningDate.ToLongDateString()
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
