@model UserRolesVM
@{
    ViewData["Title"] = "Роли към Потребител";
}


<form asp-action="@ViewBag.actionName" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="UserId" type="hidden" />
    <display for="FullName"></display>
    <div class="row">
        @for (var i = 0; i < Model.ClientRoles.Count(); i++)
        {
            <div class="col-lg-4">
                <div class="well">
                    @Html.HiddenFor(x => x.ClientRoles[i].ClientId)
                    <h4>@Model.ClientRoles[i].ClientName</h4>
                    @Html.EditorFor(x => x.ClientRoles[i].Roles)
                </div>
            </div>
        }

    </div>

    <div class="form-group">
        <input type="submit" value="Запис" class="btn btn-success btn-flat" />
        <a asp-action="Users_Edit" asp-route-id="@Model.UserId" class="btn btn-danger btn-flat">Назад</a>
    </div>
</form>

