@{

    var lang = ViewBag.lang;
    var pageType = (PageType)ViewBag.pageType;

    ViewData["Title"] = pageType.Title;
}
<section class="content">
    <div class="row">
        <div class="col-lg-9">
            <div class="box box-success">
                <div class="box-header with-border" style="overflow:auto;max-height:700px;">
                    <div id="tree"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">

            <div class="form-group">
                <label class="control-label">Отметка</label>
                <select class="form-control" id="selectPageTag"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Наименование на линка</label>
                <input type="text" class="form-control" id="selectPageLinkTitle" />
            </div>
            <div class="form-group">
                <label class="control-label">Режим на зареждане</label>
                <select class="form-control" id="selectPageMode">
                    <option value="@GlobalConstants.PagelinkModes.Self">В същия екран</option>
                    <option value="@GlobalConstants.PagelinkModes.Blank">В нов прозорец</option>
                    <option value="@GlobalConstants.PagelinkModes.Modal">В модален диалог</option>
                </select>
            </div>

            <a href="#" id="selectPageConfirm" onclick="selectPageClick(this);" class="btn btn-success">Избери</a>

        </div>
    </div>
</section>
<script>
    function selectPageClick(e) {
        //debugger;
        var contentId = $(e).data('contentid');
        var title = $('#selectPageLinkTitle').val();
        var url = $(e).data('url');
        var tag = $('#selectPageTag').val();
        var mode = $('#selectPageMode').val();
        var href = '#page-';
        href += contentId + '-' + url;
        if (mode == '@GlobalConstants.PagelinkModes.Modal') {
            href = '#modal-';
        }
        //href += contentId;
        if (tag && tag != '-1') {
            href += "#" + tag;
        }
        @(ViewBag.callbackName)(
                {
                    href: href,
                    contentId: contentId,
                    title: title,
                    mode:mode
                });
    }
    $(function () {
            $('#tree')
                .on('changed.jstree', function (e, data) {
                    $('#selectPageConfirm')
                        .attr('data-contentid', data.node.a_attr.contentId)
                        .attr('data-url', data.node.a_attr.url)
                        .attr('data-title', data.node.text);
                    $('#selectPageLinkTitle').val(data.node.text);

                    requestCombo("#selectPageTag", '@Url.Action("GetTagList")', { pageId: data.node.a_attr.id });
                })
                .on('loaded.jstree', function (e, data) {
                    $('#selectPageLinkTitle').focus();
                    $('#tree').focus();
                })
                .jstree({
                    'core': {
                        'data': {
                            'url': '@Html.Raw(Url.Action("GetTreeViewData",new { lang, pageType = pageType.Id, selectOnly = true }))'
                        },
                        check_callback: true
                    }

                    , 'plugins': ['changed']
                });

    });

</script>
<style>
    #tree {
        max-height: 600vh;
    }

        #tree a {
            white-space: normal !important;
            height: auto;
            padding: 1px 2px;
            margin-right: 20px;
        }
</style>
