@model Models.Context.Legacy.StrategicDocuments

@{
    ViewData["Title"] = "Стратегически документи";
}

<section class="content">
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <form asp-action="@ViewBag.actionName">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input asp-for="Id" type="hidden" />
                @*@Html.EditorFor(m => m.CategoryId, "Categories")*@
                @Html.EditorFor(m => m.CategoryId, "GenericDropDown")
                <table border="0">
                    <tr><td width="85%"><ddl for="DocumentTypeId" data="@ViewBag.documentTypes"></ddl></td><td><a asp-controller="DocumentKind" asp-action="Index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Видове документи</a></td></tr>
                </table>


                <textbox for="DocumentNumber"></textbox>
                <ddl for="InstitutionTypeId" data="@ViewBag.institutions"></ddl>
                <date-picker for="DocumentDate"></date-picker>

                <textbox for="Title" type="textarea"></textbox>
                <textbox for="Summary" type="textarea" edit-class="summernote"></textbox>

                @Html.EditorFor(x => x.ValidTo, "DateTimeWithEmpty")


                <checkbox for="IsActive" text-class="label label-primary"></checkbox>
                <checkbox for="IsDeleted" text-class="label label-danger"></checkbox>

                <div class="form-group">
                    <input type="submit" value="Запис" class="btn btn-success btn-flat" />
                    <a asp-action="Index" class="btn btn-danger btn-flat">Назад</a>
                </div>
            </form>
        </div>

    </div>
    @if (Model.Id > 0)
    {
        <div class="row">

            <div class="col-lg-6">
                <h4>Прикачени документи</h4>
                <partial name="UsedDocuments" model="@(new FileCDN.Models.FileSelect() { SourceType = GlobalConstants.SourceTypes.StrategicDocuments, SourceID = Model.Id.ToString() })" />
            </div>
        </div>
    }
</section>

@section scripts{
    <script>
        $(function () {
            var snEditor = $('#Summary').summernote();
        });
    </script>

    <script>
        $(function () {
            $('#CategoryMasterId').change(function () {
                if ($(this).val() === '@GlobalConstants.Categories.Type_National') {
                    $('#natCat').show();
                    $('#districtCat').hide();
                } else {
                    $('#natCat').hide();
                    $('#districtCat').show();
                }
            }).trigger('change');
            $('#DistrictId').change(function () {
                if ($(this).val() === '-1') {
                    $('#MunicipalityId').html('');
                    return false;
                }
                requestCombo('#MunicipalityId', '@Url.Action("GetComboCategories","Ajax",new { area=""})', { masterCat: $(this).val() });
            }).trigger('change');

            var snEditor = $('#Body').summernote();
        });
    </script>
}

