@model Models.ViewModels.ContactUsMailVM
@using reCAPTCHA.AspNetCore
@using Microsoft.Extensions.Options
@inject IOptions<RecaptchaSettings> RecaptchaSettings
@{
    ViewData["Title"] = "Свържете се с нас";
    List<SelectListItem> AboutTopics = (List<SelectListItem>)ViewBag.AboutTopics;
}


@section breadcrumbs{
    <div class="breadcrumbs">
        / <a href="@Url.Action("Index","Home")">Начало</a>
        / <a href="#">Свържете се с нас</a>
    </div>
}

<section class="container-fluid information center">
    <div class="row center" >
        @*<div class="col-lg-3">
            @await Component.InvokeAsync("MasterPage", new { pageTypeId = GlobalConstants.PageTypes.StaticPages, display = "menu", title = "Свържете се с нас" })
        </div>*@

        <div class="col-lg-12">
            <div style="padding: 10px">
                <form asp-action="SendMessage" id="form1" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h2>
                        <div align="center">
                            Свържете се с нас
                        </div>
                    </h2>
                    <div class="form-group">
                        <b>Относно:</b> <br>
                        @Html.DropDownListFor(m => m.About, AboutTopics, "Моля, изберете...", new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.EditorFor(m => m.Name)
                    </div>

                    <div>
                        @Html.EditorFor(m => m.Email)
                    </div>
                    <div>
                        @Html.EditorFor(m => m.Message)
                    </div>
                    <div class="text-danger" align="center">
                        @Html.Raw(@ViewBag.reCaptchaError)
                    </div>
                    <div align="center">
                        @Html.Recaptcha(RecaptchaSettings.Value)
                    </div>
                    <br>
                    <div class="form-group" align="center">
                        <input class="btn btn-default btn-flat" type="submit" value="Изпрати съобщението" formaction="/ContactUsMail/SendMessage">
                        <a asp-action="Index" class="btn btn-danger btn-flat">Изчисти</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        $('#Message').summernote();
    </script>
}

