@model Models.ViewModels.Consultations.ConsultationViewModel
@{
    ViewData["Title"] = "Обществена консултация";
}

<section class="content">
    <div class="row">
        <div class="col-lg-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(m => m.Id)
                @*@Html.EditorFor(m => m.CategoryId, "Categories")*@
                @Html.EditorFor(m => m.CategoryId, "GenericDropDown")
                @Html.EditorFor(m => m.LinksCategoryId, "GenericDropDown")
                @Html.EditorFor(m => m.Title)
                @Html.EditorFor(m => m.Summary)
                @Html.EditorFor(m => m.OpenningDate)
                @Html.EditorFor(m => m.ClosingDate)
                <div id="shortTermContainer" class="">
                    @Html.EditorFor(m => m.ShortTermReason)
                </div>
                @Html.EditorFor(m => m.InstututionTypeId, "GenericDropDown")
                @Html.EditorFor(m => m.ResponsiblePerson)
                @Html.EditorFor(m => m.Address)
                @Html.EditorFor(m => m.Email, "String")
                @Html.EditorFor(m => m.Telephone)
                @Html.EditorFor(m => m.ShouldAlertSubscribers)
                @Html.EditorFor(m => m.IsActive)
                @Html.EditorFor(m => m.IsDeleted)
                <div class="form-group">
                    <input type="submit" value="Запис" class="btn btn-success btn-flat" />
                    <a asp-action="Index" class="btn btn-danger btn-flat">Назад</a>
                    @if (Model.Id > 0)
                    {
                        <a asp-action="Add" asp-controller="Questionary" asp-route-sourceTypeID="@GlobalConstants.SourceTypes.PublicConsultation" asp-route-sourceId="@Model.Id" class="btn btn-primary btn-flat">Анкета към инициативата</a>
                        <a asp-action="ExportConsultationComments" asp-controller="Comments" asp-route-consultationId="@Model.Id" class="btn btn-info btn-flat">Експорт на коментари</a>
                    }
                </div>
            </form>
        </div>
        @if (Model.Id > 0)
        {
            <div class="col-lg-6">
                <div class="toolbar pull-right">
                    <a asp-action="AddDocument" asp-route-consultationId="@Model.Id" class="btn btn-success btn-flat">Добави нов документ</a>
                </div>
                <h3>Документи</h3>
                <table id="documentsTable" class="table" cellspacing="0"></table>
            </div>
        }
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            checkPeriod();
        var dt = $('#documentsTable').DataTable({
             "ajax": {
                 "url": '@Url.Action("DocumentIndex")',
                 data: function (d) {
                     d.consultationId = @Model.Id;
                 },
                 "type": "POST"
             },
             fnDrawCallback: function (settings) {
                 $(this).parent().toggle(settings.fnRecordsDisplay() > 0);
             },
             "dom": '<"toolbar">frtip',
            "filter": false,
             "bInfo": false,
             "columns": [
                 {
                     data: "typeName",
                     title: 'Тип',
                     sortable: true,
                     searchable: true
                 },{
                     data: "title",
                     title: 'Заглавие',
                     sortable: true,
                     searchable: true
                 },

                 {
                     data: "id",
                     "render": function (value) {
                         var updateUrl = '@Url.Action("EditDocument",new { id = "666"})'.replace('666', value);
                         var updButton = '<a href="' + updateUrl + '" class="btn btn-warning">Редакция</a>';
                         return updButton;
                     },
                     sortable: false,
                     searchable: false
                 }
             ]
        });

        $('#@nameof(Model.OpenningDate)').on('change', checkPeriod);
        $('#@nameof(Model.ClosingDate)').on('change', checkPeriod);

        function checkPeriod() {
            var start = moment($('#@nameof(Model.OpenningDate)').val(), 'DD.MM.YYYY');
            var end = moment($('#@nameof(Model.ClosingDate)').val(), 'DD.MM.YYYY');

            if (@Model.Id == 0 && start.isBefore(moment())) {
                $('#@nameof(Model.OpenningDate)').parent().next('span').text('Не може да създадете консултация със задна дата');
            } else if (@Model.Id == 0) {
                $('#@nameof(Model.OpenningDate)').parent().next('span').text('');
            }

            if (end.isBefore(start)) {
                $('#@nameof(Model.ClosingDate)').parent().next('span').text('Не може датата на приключване да е преди датата на откриване');
            } else {
                $('#@nameof(Model.ClosingDate)').parent().next('span').text('');
                var diff = end.diff(start, 'days');

                if (diff < 14) {
                    $('#shortTermContainer').show();
                } else {
                    $('#shortTermContainer').hide();
                    $('#@nameof(Model.ShortTermReason)').val('');
                }
            }
        }

        $('#Summary').summernote();

    });

    </script>

}


