<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Министерски съвет | Обществени консултации</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="~/dist/swiper.min.css">
    <link rel="stylesheet" href="~/dist/styles.min.css">
    <link rel="stylesheet" href="~/dist/min/head.min.css" />
    <link rel="stylesheet" href="~/css/site-portal.css" />
    <link rel="stylesheet" href="~/prod/css/head.plugins.min.css" />

    <script type="text/javascript" src="~/dist/min/head.min.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("head", false)
</head>
<body>
    @RenderSection("HeaderContent", false)
    <div class="wrapper">
        <header class="header--main">
            
        </header>
        <div class="body">
            @RenderBody()
        </div>
        <!-- FOOTER -->
        @*<partial name="FooterLogos" />*@
        @*<footer class="footer">
                <div class="eu">
                    <img src="~/dist/assets/EU.png" alt="Лого еу">
                </div>
                <div class="operative_program">
                    <img src="~/dist/assets/operativna_programa.png" alt="Лого оперативна програма">
                </div>
            </footer>*@
        <!-- END FOOTER -->
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>

    <script type="text/javascript" src="~/dist/swiper.min.js"></script>
    <script type="text/javascript" src="~/dist/bundle.js"></script>
    <script type="text/javascript">
        var rootPath = '@Url.Action("Index","Home",new { area= ""})';
    </script>
    <script type="text/javascript" src="~/dist/min/footer.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
