@inject IStringLocalizer<CommonResources> Localizer
<a href="@Url.Action("PreviewByUrl","Page",new { area="",pageType=GlobalConstants.PageTypes.StaticPages,url="contacts"})">@Localizer["TOP_LINK_CONTACTS"]</a> |
<a href="@Url.Action("PreviewByUrl","Page",new { area="",pageType=GlobalConstants.PageTypes.StaticPages,url="terms-of-use"})">@Localizer["TOP_LINK_TERMS_OF_USE"]</a> |
<a href="@Url.Action("PreviewByUrl","Page",new { area="",pageType=GlobalConstants.PageTypes.StaticPages,url="site-map"})">@Localizer["TOP_LINK_SITE_MAP"]</a>|
<a href="@Url.Action("PreviewByUrl","Page",new { area="",pageType=GlobalConstants.PageTypes.StaticPages,url="info-portal"})">@Localizer["PORTAL_INFORMATION"]</a>|
<a href="@Url.Action("PreviewByUrl","Page",new { area="",pageType=GlobalConstants.PageTypes.StaticPages,url="drugite-i-portala"})">@Localizer["OTHERS_AND_PORTAL"]</a>|

<a href="http://strategy.bg">@Localizer["OLD_SITE"]</a>

