@inject IStringLocalizer<CommonResources> Localizer
@{
    string lang = (string)ViewBag.lang ?? GlobalConstants.DefaultLang;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Министерски съвет | Обществени консултации</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    @*<link rel="stylesheet" href="~/dist/swiper.min.css">*@
    <link rel="stylesheet" href="~/dist/styles.min.css">
    <link rel="stylesheet" href="~/dist/min/head.min.css" />
    <link rel="stylesheet" href="~/css/site-portal.css" />
    <link rel="stylesheet" href="~/prod/css/head.plugins.min.css" />

    <script type="text/javascript" src="~/dist/min/head.min.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("head", false)
</head>
<body>
    <div class="master-container">
        @RenderSection("HeaderContent", false)
        <div class="wrapper">
            <header class="header--main">
                <div class="titles">
                    <a href="@Url.Action("Index","Home",new { area=""})">
                        <div class="logo">
                            <img src="~/dist/assets/logo.png" alt="Министерски съвет Портал за обществени консултации лого"
                                 srcSet="~/dist/assets/logo@2x_@(lang).png 1000w" />
                        </div>
                    </a>
                    <button class="menu">
                        <img src="~/dist/assets/icon-menu-close.png" alt="Икона затвори меню"
                             class="close__img">
                        <span>Меню</span>
                        <img src="~/dist/assets/icon-hamburger.png" alt="Икона меню"
                             class="open">
                    </button>
                    <div class="top-toolbar hidden-sm hidden-xs">
                        @*<div class="button--users hidden-md hidden-sm hidden-xs">
                                <a href="@Url.Action("Index","Home",new { area=""})"><span><i class="fa fa-home"></i>@Localizer["HOME_LINK"]</span></a>
                            </div>*@
                        <form class="top-toolbar-search hidden-md hidden-sm hidden-xs" asp-area="" asp-action="Search" asp-controller="Home" method="get">
                            <input name="searchPhrase" type="text" class="input--search" placeholder="@Localizer["SEARCH"]" />
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                        <partial name="_LangSelectToolbar" />
                        <div class="button--users hidden-md hidden-sm hidden-xs">
                            <a href="@Url.Action("Index","Home",new { area=""})"><div class='toplink-icon social home--button'><i class='fa fa-home'></i></div></a>
                            <a href="https://www.facebook.com/392182447643790/" title="Facebook" target="_blank"><div class="toplink-icon social fb"><i class="fa fa-facebook"></i></div></a>
                            <a href="https://twitter.com/strategy__bg" title="Twitter" target="_blank"> <div class="toplink-icon social tw"><i class="fa fa-twitter"></i></div></a>
                            <partial name="_LoginPartialToolbarGoogle" />
                            <a asp-action="Categories" asp-controller="Account" asp-area="" class="toplink-icon social subscribe">
                                <span>@Localizer["TOP_LINK_SUBSCRIBE"]</span>
                            </a>
                        </div>

                    </div>
                    @*<partial name="_LoginPartialToolbar" />*@

                    @*
                        <div class="top-nav-links">
                           <div style="display:inline-block"><partial name="_LangSelect" /></div>
                                <partial name="_LayoutPublicTopLinks" />

                                @if (ViewBag.RssLink != null)
                                {
                                    <span>&nbsp;<a href="@ViewBag.RssLink" target="_blank" id="rssLink" title="RSS"><img src="@Url.Content("~/images/rss-icon.png")" /></a>&nbsp;</span>
                                }
                                </div>*@

                </div>
                <nav class="nav">
                    <ul class="list">
                        <li class="to_activate search">
                            <form class="search" asp-area="" asp-action="Search" asp-controller="Home" method="get">
                                <div class="magnifier__wrapper">
                                    <img class="icon--default" src="~/dist/assets/magnifier.svg" alt="Икона търсене" />
                                </div>
                                <input type="text"
                                       class="input--search"
                                       placeholder="Търсене"
                                       name="searchPhrase" />
                            </form>
                        </li>
                        <partial name="_PublicMainMenu" />
                        <partial name="_LoginPartialMobile" />

                        @*<li class="to_activate users">
                            <a href="#">
                                <i class='fa fa-user'></i>
                                Изход
                            </a>
                        </li>*@
                    </ul>
                </nav>
            </header>
            <div class="body">
                <partial name="_UserMessages" />
                @RenderBody()
            </div>
            <!-- FOOTER -->
            <partial name="FooterLogos" />
            @*<footer class="footer">
                    <div class="eu">
                        <img src="~/dist/assets/EU.png" alt="Лого еу">
                    </div>
                    <div class="operative_program">
                        <img src="~/dist/assets/operativna_programa.png" alt="Лого оперативна програма">
                    </div>
                </footer>*@
            <!-- END FOOTER -->
        </div>
    </div>
    @Html.Partial("ModalDialog")
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="~/dist/swiper.min.js"></script>
    <script type="text/javascript" src="~/dist/bundle.js"></script>
    <script type="text/javascript">
        var rootPath = '@Url.Action("Index","Home",new { area= ""})';
    </script>
    <script type="text/javascript" src="~/dist/min/footer.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
