@model Models.ViewModels.LinksModels.UsefulLinksCateroriesListViewModel
@inject IStringLocalizer<CommonResources> Localizer
@{
    ViewData["Title"] = Localizer["MENU_NEWS"];
    ViewData["SectionTitle"] = ViewData["Title"];
}
@section breadcrumbs{
    <div class="breadcrumbs">
        / <a href="@Url.Action("Index","Home")">@Localizer["HOME_LINK"]</a>
        / <a href="@Url.Action("Index")">Полезни връзки</a>
    </div>
}

@foreach (var category in Model.UsefulLinksCateroriesList)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.Raw("<h4 class='panel-title' data-toggle='collapse' data-target='#collapse" + category.Id + "'>")
            @Html.Raw(category.Name)
            @Html.Raw("</h4>")
        </div>
        @Html.Raw("<div id='collapse" + category.Id + "' class='panel-collapse collapse'>")
        <div class="panel-body">
            <div class="container-fluid information">
                <section>
                    @Html.Raw("<div id='gridview" + category.Id + "'></div>")
                </section>
            </div>
        </div>
        @Html.Raw("</div>")
    </div>
}

@section scripts{
    <script>
        $(function () {
            @foreach (var category in Model.UsefulLinksCateroriesList)
            {
              @Html.Raw("$('#gridview" + category.Id + "').gridView({ url: '" + @Url.Action("LoadDataGrid") + "', data: {category: " + category.Id + "},")
              @Html.Raw("filter: false, lang:'" + @ViewBag.lang + "', template: '#linksTemplate', empty_text: 'Няма намерени елементи.' });")
            }
        });
    </script>
    <script type="text/x-handlebars-template" id="linksTemplate">
        <div class="col-md-3 col-sm-4">
            <article class="article--news image--left">
                <a href="{{url}}" target="_blank">
                    <h4 class="title">
                        {{{title}}}
                    </h4>
                </a>
            </article>
        </div>
    </script>
}
