@{
    ViewData["Title"] = "Списък на изпълнители по ЗНА";
    ViewData["SectionTitle"] = ViewData["Title"];
}
<div class="breadcrumbs">
    / <a href="@Url.Action("Index","Home")">Начало</a>
    / <a href="#">Списък на физическите и юридическите лица съгласно ЗНА</a>
</div>

<section class="content">
    <div class="container-fluid information">
        <div class="row">
            <div class="col-md-12 body cat-combos search-form-container">
                <div class="form-group col-lg-2  col-lg-4 col-sm-6">
                    <label>Тип на изпълнител</label>
                    @Html.DropDownList("PCSubjectsTypeID", (IEnumerable<SelectListItem>)ViewBag.PCSubjectsTypeID_ddl, new { @class = "form-control" })
                </div>
                <div class="form-group col-lg-2  col-lg-4 col-sm-6">
                    <label>Търси по изпълнител</label>
                    @Html.TextBox("name", null, new { @class = "form-control" })
                </div>
                <div id="eik_div">
                    <div class="form-group col-lg-2  col-lg-4 col-sm-6">
                        <label>Търси по ЕИК</label>
                        @Html.TextBox("eik", null, new { @class = "form-control" })
                    </div>
                </div>
                <div>
                    <div class="form-group col-lg-3  col-lg-5 col-sm-7">
                        <label>&nbsp;</label>
                        @Html.ActionLink("Справка на всички изпълнители", "PCSubjectsPDF", "PCSubjects", null, new { @class = "form-control btn btn-default" , @target = "_blank"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="mainTable" class="table" cellspacing="0"></table>
</section>
@section scripts{
    <script>
    $(function () {
        var dt = $('#mainTable').DataTable({
            searching: false,
             "ajax": {
                 "url": '@Url.Action("LoadDataPCSubjects")',
                 data: function (d) {
                     d.name = $("#name").val();
                     d.eik = $("#eik").val();
                     d.pcSubjectsTypeID = $("#PCSubjectsTypeID").val();
                 },
                 "type": "POST"
             },
             fnDrawCallback: function (settings) {
                 $('.dataTables_paginate').toggle(settings.fnRecordsDisplay() > 0);
             },
            filter: false,
            "columns": [

                {
                     data: "name",
                     title: 'Изпълнител',
                     render: function (data, type, item, meta) {
                         var url = '@Url.Action("View",new { id = "666"})'.replace('666', item.id);
                         var btn = '<a href="' + url + '">' + item.name + '</a>';
                         return btn;

                         }

                 },
                 {
                     data: "isUL",
                     title: 'ЮЛ / ФЛ',
                     sortable: false,
                     searchable: false,
                     className: "text-center",
                     "render": function (value) {
                         return value == "1" ? 'ЮЛ' : 'ФЛ';
                     }
                },
                {
                    data: "contractingAuthority",
                    title: 'Възложител',
                    sortable: true,
                    searchable: false
                },
                 //{
                 //    data: "eik",
                 //    title: 'ЕИК',
                 //    sortable: false,
                 //    searchable: false
                 //},
                 {
                     data: "datePayment",
                     title: 'Дата на договор',
                     sortable: true,
                     searchable: false,
                     "render": function (value) {
                         return JsonBGdate(value);
                     }
                 },
                 {
                     data: "paymentValue",
                     title: 'Цена на договора',
                     sortable: true,
                     searchable: false,
                     className: "text-right",
                 },
                 //{
                 //    data: "paymentValue",
                 //    title: 'с ДДС',
                 //    sortable: true,
                 //    searchable: false,
                 //    className: "text-center",
                 //    "render": function (value) {
                 //        return value == "1" ? 'ДА' : 'НЕ';
                 //    }
                 //},
                 //{
                 //    data: "activityDescription",
                 //    title: 'Описание на извършените услуги',
                 //    sortable: false,
                 //    searchable: false
                 ////},
                 {
                     data: "filesForDownload",
                     title: 'Файл',
                     sortable: false,
                     searchable: false,
                     "render": function (value) {
                         return value;
                     }

                 }
             ],
        });

        $('button.dt-reload').click(function () {
            dt.ajax.reload();
        }).trigger('click');

        $('#PCSubjectsTypeID').change(function () {
            if ($('#PCSubjectsTypeID').val() == "-1" || $('#PCSubjectsTypeID').val() == "1") {
                $('#eik_div').show();
            }
            else {
                $('#eik_div').hide();
                $('#eik').val("");
            }

            dt.ajax.reload();
        });

        $('#name').keyup(function () {
            if ($(this).val().length >= 3)
                setTimeout(function () {
                    dt.ajax.reload();
                }, 100);

        });

        $('#eik').keyup(function () {
            if ($(this).val().length >= 3)
                setTimeout(function () {
                    dt.ajax.reload();
                }, 100);

        });

        });
    </script>
}

