@model Models.ViewModels.PCSubjectsModels.PCSubjectsViewModel

@{
    ViewData["Title"] = "Лице съгласно ЗНА";
}

<section class="content">
    <div class="row">
        <div class="col-lg-6">
            <form asp-action="EditPCSubjects">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.DateCreated)
                @Html.HiddenFor(m => m.CreatedByUserId)
                @Html.HiddenFor(m => m.ModifiedByUserId)
                @Html.HiddenFor(m => m.DateModified)
                @Html.HiddenFor(m => m.FakeMunicipalityId)
                <display for="sIsUL"></display>

         

                <div id="eik_div">
                    @Html.EditorFor(m => m.EIK, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <display for="Name"></display>


                <div class="row">
                    <div class="col-lg-3">
                        @Html.LabelFor(m => m.CategoryMasterId, "Група")
                    </div>
                    <div class="col-lg-5">
                        @Html.DropDownList("CategoryMasterId", (List<SelectListItem>)ViewBag.catMasters, new { disabled = "disabled" })
                    </div>
                </div>

                <div id="natCat" class="row">
                    <div class="col-lg-3">
                        @Html.LabelFor(m => m.CategoryId, "Категория")
                    </div>
                    <div class="col-lg-5">
                        @Html.DropDownList("CategoryId", (List<SelectListItem>)ViewBag.catNational, new { disabled = "disabled" })
                    </div>
                </div>

                <div id="districtCat">
                 
                        @if (Model.DistrictId!=null )
                        {
                            <div class="row">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.DistrictId, "Област")
                                </div>
                                <div class="col-lg-5">
                                    @Html.DropDownList("DistrictId", (List<SelectListItem>)ViewBag.catDistrict, new { disabled = "disabled" })
                                </div>
                            </div>
                        }
                        @if (Model.MunicipalityId!=null)
                        {
                            <div class="row">
                                <div class="col-lg-3">
                                    @Html.LabelFor(m => m.MunicipalityId, "Община")
                                </div>
                                <div class="col-lg-5">
                                    @Html.DropDownList("MunicipalityId", GlobalConstants.EmptyComboList, new { disabled = "disabled" })
                                </div>
                            </div>}
                    </div>

                @*@Html.EditorFor(m => m.DatePayment)*@
                <display for="DatePayment"></display>
                @*@Html.EditorFor(m => m.PaymentValue)*@
                <display for="PaymentValue"></display>
                @Html.EditorFor(m => m.PaymentIncludeVAT)
                @*<display for="PaymentIncludeVAT"></display>*@
                @*@Html.EditorFor(m => m.ContractingAuthority)*@
                <display for="ContractingAuthority"></display>
                @*@Html.EditorFor(m => m.ActivityDescription)*@
                <display for="ActivityDescription"></display>

                @*@if (Model.Id > 0)
        {
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Прикачени документи</h4>
                        <partial name="UsedDocuments" model="@(new FileCDN.Models.FileSelect() { SourceType = GlobalConstants.SourceTypes.PublicConsultationSubjects, SourceID = Model.Id.ToString() })" />
                    </div>
                </div>
            </div>
        }*@

                <div class="form-group">

                    <a asp-action="ListPCSubjects" class="btn btn-primary btn-flat">Назад</a>
                </div>
            </form>
        </div>
    </div>
</section>
@section scripts{
    <script>
        $(function () {
            SetSubjectType();

            $('#IsUL').change(function () {
                SetSubjectType();
            });

            $("#EIK").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("LoadDataPCSubjectsAutocompleteEIK")',
                        type: "GET",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { name: item.name, value: item.eik, label: item.activityDescription };
                            }))
                        }
                    })
                },
                minLength: 3,
                select: function (event, ui) {
                    $("#Name").val(ui.item.name);
                }
            });

            $("#Name").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("LoadDataPCSubjectsAutocompleteName")',
                        type: "GET",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { name: item.eik, value: item.name, label: item.activityDescription };
                            }))
                        }
                    })
                },
                minLength: 3,
                select: function (event, ui) {
                    $("#EIK").val(ui.item.name);
                }
            });

            $('#CategoryMasterId').change(function () {
                if ($(this).val() === '@GlobalConstants.Categories.Type_National') {
                    $('#natCat').show();
                    $('#districtCat').hide();
                } else {
                    $('#natCat').hide();
                    $('#districtCat').show();
                }
             }).trigger('change');

             $('#DistrictId').change(function () {
                 if ($(this).val() === '-1') {
                     $('#MunicipalityId').html('');
                     return false;
                 }
                 if ($("#FakeMunicipalityId").val() == 0) {
                     requestCombo('#MunicipalityId', '@Url.Action("LoadDataMunicipality", new { area="Admin"})', { masterCat: $(this).val() });
                 }
                 else {
                     requestCombo('#MunicipalityId', '@Url.Action("LoadDataMunicipality", new { area="Admin"})', { masterCat: $(this).val(), selectedId: $('#FakeMunicipalityId').val() });
                 }
             }).trigger('change');
        });

        function SetSubjectType() {
            if ($('#IsUL').val() == "1") {
                $('#eik_div').show();
            }
            else {
                $('#eik_div').hide();
                $('#eik').val("");
            }
        }
    </script>
}

