@model ForgottenPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
    ViewBag.Title = "Забравена парола";
}
@inject IStringLocalizer<SharedResources> Localizer

<div class="login-box">
    <div class="login-logo">
        @TempData.Peek("Client")
    </div>

    <!-- /.login-logo -->
    <div class="login-box-body">
        <div class="pull-right">
            @Html.Partial("_LangSelect")
        </div>
        <p class="login-box-msg">@Localizer["ForgottenPasswordTitle"]</p>
        <form asp-route="ForgottenPassword">
            <textbox for="UserName" label="@(Localizer["Email"].Value)"></textbox>
            <div class="row">
                <div class="col-lg-6">
                    <a asp-action="Index" asp-controller="Home">@Localizer["Cancel"]</a>
                </div>
                <div class="col-lg-6 pull-right">
                    <button class="btn btn-primary btn-block btn-flat" type="submit">@Localizer["ForgottenPasswordSubmit"]</button>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </div>
            <!-- /.col -->
        </form>
    </div>
    @Html.Partial("TempDataMessages")
</div>
