@using IdServer.Controllers.Account
@model LoginInputModel
@inject IStringLocalizer<SharedResources> Localizer
@{
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
    ViewData["Title"] = Localizer["Title"];
}
<div class="login-box">

    <div class="login-logo">
        <a href="#">@TempData.Peek("Client")</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <div class="pull-right">
            @Html.Partial("_LangSelect")
        </div>
        @*<div class="git-login-logo">

        </div>*@
        <p class="login-box-msg">@(Localizer["LoginTitle"])</p>

        <form asp-action="Login">
            <input type="hidden" asp-for="ReturnUrl" />
            <textbox for="Username" label="@(Localizer["Email"].Value)"></textbox>
            <textbox for="Password" label="@(Localizer["Password"].Value)" type="password"></textbox>
            <div class="row">
                <div class="col-xs-8">
                    <a asp-action="Register" class="text-center">@Localizer["Register"]</a><br />
                    <a asp-action="ForgottenPassword" class="text-center">@Localizer["ForgottenPassword"]</a>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">@Localizer["Login"]</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        @if (Model.ExternalLoginEnabled)
        {
            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a asp-action="ExternalLogin" asp-route-provider="Facebook" asp-route-returnUrl="ReturnUrl" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i> Sign in using Facebook
                </a>
                @*<a href="#" class="btn btn-block btn-social btn-google btn-flat">
                        <i class="fa fa-google-plus"></i> Sign in using
                        Google+
                    </a>*@
            </div>
            <!-- /.social-auth-links -->
        }

        @*<a href="#">I forgot my password</a><br>*@


    </div>
    @Html.Partial("TempDataMessages")
    <!-- /.login-box-body -->
</div>
