@model UserInCategoriesVM
@{
    Layout = "~/Views/Shared/_LayoutPublicMain.cshtml";
    ViewData["Title"] = "Абонаменти";
}

<h3 style="margin-bottom:20px;">@ViewData["Title"]</h3>

<form asp-action="Categories">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @for (var i = 0; i < Model.ParentCategories.Count(); i++)
    {
        <div id="divCategories" class="panel panel-default">
            <div class="panel-heading">
                @{
                    if (@Model.ParentCategories[i].CategoryName == "Областни и общински") { Model.ParentCategories[i].CategoryName = "Областни и общински – по области"; }
                }
                @Model.ParentCategories[i].CategoryName
                <span class="pull--right"><a rel="group_@Model.ParentCategories[i].Id" href="#select_all" val="1">Избери / Откажи всички</a></span>
            </div>
        <div class="panel-body">
            <fieldset id="group_@Model.ParentCategories[i].Id">
                @for (var j = 0; j < @Model.ParentCategories[i].Categories.Count(); j++)
                {
                    @Html.EditorFor(x => x.ParentCategories[i].Categories[j])
                }
            </fieldset>
        </div>
    </div>
}

    <div class="form-group" align="center">
        <br><input type="submit" value="Запис" class="btn btn-default" />
        <a asp-controller="Account" asp-action="Profile" class="btn btn-default">Отмени</a><br>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $("A[href='#select_all']").click(function () {
            if ($(this).attr('val') === "1") {
                // Select all
                $(this).attr('val', "0");
                $("#" + $(this).attr('rel') + " INPUT[type='checkbox']").prop('checked', true);
            }
            else {
                // Select none
                $(this).attr('val', "1");
                $("#" + $(this).attr('rel') + " INPUT[type='checkbox']").prop('checked', false);
            }
            return false;
        });

        // Invert selection
        $("A[href='#invert_selection']").click(function () {
            $("#" + $(this).attr('rel') + " INPUT[type='checkbox']").each(function () {
                $(this).attr('checked', !$(this).attr('checked'));
            });
            return false;
        });
    });
</script>