@{
    Layout = "~/Views/Shared/_LayoutPublicMain.cshtml";
}
@inject IStringLocalizer<CommonResources> Localizer
@section head{
    <style>
        .section .image img {
            width: auto;
            height: auto;
        }
    </style>
}
<!-- IMAGES  -->
@*<div class="image__wrapper--swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- LOOP -->
                <div class="head__image swiper-slide">
                    <div class="image__wrapper"
                         style="background-image:url(dist/assets/123.png)">
                    </div>
                    <div class="title__wrapper">
                        <div class="logo">
                            <img src="dist/assets/Coat_of_arms_of_Bulgaria.svg" alt="Герб" />
                        </div>
                        <div class="title">
                            <h3>ПАРТНЬОРСТВО В УПРАВЛЕНИЕТО</h3>
                        </div>
                    </div>
                </div>
                <!-- END LOOP -->
                <div class="head__image swiper-slide">
                    <div class="image__wrapper"
                         style="background-image:url(dist/assets/123.png)">
                    </div>
                    <div class="title__wrapper">
                        <div class="logo">
                            <img src="dist/assets/Coat_of_arms_of_Bulgaria.svg" alt="Герб" />
                        </div>
                        <div class="title">
                            <h3>СТРАТЕГИЧЕСКИ ДОКУМЕНТИ</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
    </div>*@
<!-- END IMAGES  -->


<section class="section__wrapper">
    <div class="row">
        <div class="section col-lg-3 col-md-6 col-sm-12">
            <p class="type">@Localizer["SECTION_ASSESSMENT"]</p>
            @await Component.InvokeAsync("MasterPage", new { pageTypeId = GlobalConstants.PageTypes.OV })
            <p class="type">@Localizer["SECTION_OTHER_RESOURCES"]</p>
            <div>
                <a href="@Url.Action("ListPCSubjects", "PCSubjects", new { area = "" })">@Localizer["SECTION_LINK_ZNA_PEOPLE"]</a>
            </div>
            <div>
                <a href="@Url.Action("ListChangeProposals", "ChangeProposals", new { area = "" })">@Localizer["SECTION_LINK_LAW_PROPOSALS"]</a>
            </div>
        </div>
        <div class="section col-lg-3 col-md-6 col-sm-12">
            <p class="type">@Localizer["MENU_PUBLIC_CONSULTATIONS"]</p>
            @await Component.InvokeAsync("PublicConsultationWidget", new { loadCount = 5 })
        </div>
        <div class="section col-lg-3 col-md-6 col-sm-12">
            <p class="type">@Localizer["MENU_STRATEGIC_DOCUMENTS"]</p>
            @await Component.InvokeAsync("StrategicDocumentsWidget", new { loadCount = 5 })
        </div>
        <div class="section col-lg-3 col-md-6 col-sm-12" style="vertical-align:top;">
            <ul class="nav nav-tabs" style="margin-top: -10px;">
                <li class="active"><a href="#tabNews" role="tab" data-toggle="tab"><p class="type">@(Localizer["MENU_NEWS"])</p></a></li>
                <li><a href="#tabPublications" role="tab" data-toggle="tab"><p class="type">@(Localizer["MENU_PUBLICATIONS"])</p></a></li>
            </ul>
            <div class="tab-content" >
                <div id="tabNews" class="tab-pane active">
                    @await Component.InvokeAsync("ArticleWidget", new { view = "News", loadCount = 5 })
                </div>
                <div id="tabPublications" class="tab-pane">
                    @await Component.InvokeAsync("ArticleWidget", new { view = "Publication", loadCount = 5 })
                </div>
            </div>
        </div>
    </div>
</section>


@*<section class="section__wrapper">
        <div class="section">
            <div>
                <div class="image">
                    <img src="dist/assets/Bitmap.png" alt="Картинка">
                </div>
                <p class="description">
                    Not so many years ago businesses used to
                    grunt at using illustrations in their marketing
                    materials. But today, the use.. and influence of
                    illustrations is growing right along.
                </p>
            </div>

            <div>
                <div class="image">
                    <img src="dist/assets/Bitmap.png" alt="Картинка">
                </div>
                <p class="description">
                    Not so many years ago businesses used to
                    grunt at using illustrations in their marketing
                    materials. But today, the use.. and influence of
                    illustrations is growing right along.
                </p>
            </div>
        </div>
        <div class="section">
            <div class="image">
                <img src="dist/assets/Bitmap.png" alt="Картинка">
            </div>
            <p class="description">
                Not so many years ago businesses used to
                grunt at using illustrations in their marketing
                materials. But today, the use.. and influence of
                illustrations is growing right along.
            </p>
        </div>
        <form action="#" class="section section--subscribe">
            <div class="inner">
                <label for="subscribe_me" class="subscribe">АБОНИРАЙ СЕ ЗА УВЕДОМЯВАНЕ</label>
                <input type="text" id="subscribe_me"
                       placeholder="Въведете валиден e-mail адрес">
                <button type="submit">АБОНИРАЙ СЕ</button>
            </div>
        </form>
    </section>*@

<div class="spacer"></div>
<!-- END ARTICLES & NEWS -->
