@using Models.ViewModels.Notifications
@model NotificationByFiltersVM
@{
    ViewData["Title"] = "Нотификация по избрани филтри";
}
<section class="content">
    <form action="@ViewBag.ActionName" method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#category" data-toggle="tab" aria-expanded="true">Избор на категория</a></li>
            <li class=""><a href="#userGroup" data-toggle="tab" aria-expanded="false">Избор на потребителска група</a></li>
            @*<li class=""><a href="#targetGroup" data-toggle="tab" aria-expanded="false">Избор на целева група</a></li>*@
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="category">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <br />
                        <ddl for="CategoryMasterId" data="@ViewBag.catMasters"></ddl>
                        <div id="natCat">
                            <ddl for="CategoryId" data="@ViewBag.catNational"></ddl>
                        </div>
                        <div id="districtCat">
                            <ddl for="DistrictId" data="@ViewBag.catDistrict"></ddl>
                            <ddl for="MunicipalityId" data="@GlobalConstants.EmptyComboList"></ddl>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="tab-pane fade " id="targetGroup">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <br />
                        <ddl for="TargetGroupId" data="@ViewBag.targetGroups"></ddl>
                    </div>
                </div>
            </div>*@
            <div class="tab-pane fade" id="userGroup">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <br />
                        <ddl for="UserGroupId" data="@ViewBag.userGroups"></ddl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <textbox for="Title"></textbox>
                <textbox for="Body" type="textarea"></textbox>
                @Html.ValidationMessageFor(x => x.EmailNotification, "", new { @class = "text-danger" })
                <checkbox for="EmailNotification"></checkbox>
                <checkbox for="SystemNotification"></checkbox>

                <div class="form-group">
                    <input type="submit" value="Изпрати" class="btn btn-success btn-flat" />
                </div>
            </div>
        </div>
    </form>
</section>

@section scripts{
    <script>
        $(function () {
            $('#CategoryMasterId').change(function () {
                if ($(this).val() === '@GlobalConstants.Categories.Type_National') {
                    $('#natCat').show();
                    $('#districtCat').hide();
                } else {
                    $('#natCat').hide();
                    $('#districtCat').show();
                }
            }).trigger('change');
            $('#DistrictId').change(function () {
                if ($(this).val() === '-1') {
                    $('#MunicipalityId').html('');
                    return false;
                }
                requestCombo('#MunicipalityId', '@Url.Action("GetComboCategories","Ajax",new { area=""})', { masterCat: $(this).val() });
            }).trigger('change');

            var snEditor = $('#Body').summernote();
        });
    </script>
}
