@model Models.ViewModels.UsersInfoVM

@{
    ViewData["Title"] = "Потребителски дейности";
}
@section breadcrumbs{
    <div class="breadcrumbs">
        / <a href="@Url.Action("Index","Home")">Начало</a>
        / <a href="@Url.Action("GetUsersInfoData", "UsersInfo", new { userId = Model.UserId})">Потребителски дейности</a>
    </div>
}

<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left">
                @Html.LabelFor(m => m.FullName, "Имена: ")
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left">
                @Html.LabelFor(m => m.Email, "Е-майл: ")
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left">
                @Html.LabelFor(m => m.UserType, "Вид потребител: ")
                @Html.TextBoxFor(m => m.UserType, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left">
                @Html.LabelFor(m => m.UserCategories, "Интереси: ")
                @Html.TextAreaFor(m => m.UserCategories, new { @class = "form-control", disabled = "disabled", cols = 200, rows = 3 })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left">
                @Html.Raw("<b>Обществени консултации: </b>")
            </div>
        </div>
    </div>
    <table id="consultationsTable" class="table" cellspacing="0"></table>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left">
                @Html.Raw("<b>Предложения за законодателни инициативи: </b>")
            </div>
        </div>
    </div>
    <table id="changeProposalsTable" class="table" cellspacing="0"></table>
</section>
@section scripts{
    <script>
        $(function () {
            var dt = $('#consultationsTable').DataTable({
                 "ajax": {
                     "url": '@Url.Action("LoadConsultationsData")',
                     data: function (d) {
                         d.userId = @Model.UserId;
                     },
                     "type": "POST"
                 },
                 fnDrawCallback: function (settings) {
                     $(this).parent().toggle(settings.fnRecordsDisplay() > 0);
                },
                filter: false,
                columnDefs: [
                    { width: "42%", targets: 0 }
                ],
                 "columns": [
                     {
                         data: "publicConsultation",
                         title: 'Наименование',
                         sortable: true,
                         searchable: false,
                         render: function (data, type, item, meta) {
                             var url = '<a href="' + '@Url.Action("View", "PublicConsultation", new { area = "", id = "666"})'.replace('666', item.consultationId)
                                 + '">' + item.publicConsultation + "</a>";
                             return url;
                         }
                     },
                     {
                         data: "isCreatedByUser",
                         title: 'Създал',
                         sortable: false,
                         searchable: false,
                         className: "text-center",
                         "render": function (value) {
                             return value ? 'ДА' : 'НЕ';
                         }
                     },
                     {
                         data: "notes",
                         title: 'Коментари',
                         sortable: false,
                         searchable: false
                     }
                 ],
                 "order": [[1, "asc"]]
            });

            var dt2 = $('#changeProposalsTable').DataTable({
                 "ajax": {
                     "url": '@Url.Action("LoadChangeProposalsData")',
                     data: function (d) {
                         d.userId = @Model.UserId;
                     },
                     "type": "POST"
                 },
                 fnDrawCallback: function (settings) {
                     $(this).parent().toggle(settings.fnRecordsDisplay() > 0);
                },
                 filter: false,
                 "columns": [
                     {
                         data: "title",
                         title: '',
                         sortable: true,
                         searchable: false,
                         render: function (data, type, item, meta) {
                             var url = '<a href="' + '@Url.Action("ViewChangeProposals", "ChangeProposals", new { area = "", id = "666"})'.replace('666', item.changeProposals)
                                 + '">' + item.title + "</a></br>" + item.text ;
                             return url;
                         }
                     }
                 ],
                 "order": [[0, "asc"]]
            });
        });

    </script>
}
