@{
    ViewData["Title"] = "Анкети";
}
@section breadcrumbs{
    <div class="breadcrumbs">
        / <a href="@Url.Action("Index","Home")">Начало</a>
        / <a href="#">Анкети</a>
    </div>
}
<section class="content">
    <div class="container-fluid information">
        <div class="row">
            <div class="col-md-12 body cat-combos search-form-container">
                <div class="form-group col-lg-2  col-lg-4 col-sm-6">
                    <label>Тип на анкетата</label>
                    @Html.DropDownList("StatusID", (IEnumerable<SelectListItem>)ViewBag.StatusID_ddl, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <table id="mainTable" class="table" cellspacing="0"></table>
</section>
@section scripts{
    <script>
    $(function () {
        var dt = $('#mainTable').DataTable({
            searching: false,
             "ajax": {
                 "url": '@Url.Action("LoadData")',
                 data: function (d) {
                    d.status = $('#StatusID').val();
                 },
                 "type": "POST"
             },
             fnDrawCallback: function (settings) {
                 $(this).parent().toggle(settings.fnRecordsDisplay() > 0);
             },
             "columns": [
                 {
                     data: "title",
                     title: 'Анкета',
                     render: function (data, type, item, meta) {
                         if (item.activeId === 0) {
                             return item.title;
                         }
                         else {
                             var url = '@Url.Action("FillQuestionary", new { questionaryHeaderId = "666"})'.replace('666', item.id);
                             var btn = '<a href="' + url + '" title="Попълни">' + item.title + '</a>';
                             return btn;
                         }
                     },
                     sortable: true,
                     searchable: true
                 },
                 {
                     data: "participantsNumber",
                     title: 'Брой участници',
                     sortable: false,
                     searchable: false
                 },
                 {
                     data: "openningDate",
                     title: 'Дата на откриване',
                     sortable: true,
                     searchable: false,
                     "render": function (value) {
                         return JsonBGdate(value);
                     }
                 },
                 {
                     data: "closingDate",
                     title: 'Дата на приключване',
                     sortable: true,
                     searchable: false,
                     "render": function (value) {
                         return JsonBGdate(value);
                     }
                 },
                 {
                     data: "activeId",
                     title: 'Активна',
                     sortable: true,
                     searchable: false,
                     "render": function (value) {
                         if (value === 0) {
                             return "НЕ";
                         }
                         else {
                             return "ДА"
                         }
                     }
                 },
                 @*{
                     data: "activeId",
                     "render": function (value) {
                         if (value === 0) {
                             return "&nbsp";
                         }
                         else {
                             var updateUrl = '@Url.Action("FillQuestionary", new { questionaryHeaderId = "666"})'.replace('666', value);
                             var updButton = '<a href="' + updateUrl + '" class="btn btn-success">Попълни</a>';
                             return updButton;
                         }
                     },
                     sortable: false,
                     searchable: false
                 },*@
                 {
                     data: "id",
                     "render": function (value) {
                         var updateUrl = '@Url.Action("QuestionaryResults",new { questionaryHeaderId = "666"})'.replace('666', value);
                         var updButton = '<a href="' + updateUrl + '">Резултати</a>';
                         return updButton;
                     },
                     sortable: false,
                     searchable: false
                 }
             ]
        });

        $("#StatusID").change(function () {
            dt.ajax.reload();
        });
    });

    </script>

}

